div.GameOptionsTabs {
  background: white;
  min-height: 350px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
div.GameOptions {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 25px 10px 10px 10px;
}

div.GameOptions div {
  margin-bottom: 10px;
}

div.GameOptions ul {
  display: table;
  text-align: right;
  border-spacing: 10px;
  padding-right: 40px;
}

div.GameOptions li {
  display: table-row;
  margin-bottom: 10px;
}

div.GameOptions li input{
  display: table-row;
  margin-left: 20px;
}

div.GameOptions label,
div.GameOptions input {
  display: table-cell;
}

.FoodOptions {
  text-align: left;
}

div.AISelector {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  margin: 1px 0;
}

div.AISelector span.glyphicon {
  font-size: 9px;
}

div.AISelector thead th:first-child {
  text-align: center;
}

div.AISelector thead th:nth-child(2) {
  padding-left: 9px;
}

div.AISelector select {
  width: 100%;
  border-radius: 10px;
}

div.AISelector select:focus {
  outline: none !important;
}

.dropdown-menu {
  left: -4px;
  background-color: transparent;
  border: 0;
  box-shadow: none;
}
