.Pane {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

.PaneControls {
  flex: 0 1 auto;
  padding: 5px;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.PaneControls div.btn-toolbar div.btn-group {
  float: none;
}

.PaneContent {
  display: flex;
  flex: 1;
}

.PaneContent.scrollable {
  overflow: auto;
}

.glyphicon {
  font-size: 20px;
}
.glyphicon.glyphicon-chevron-right {
  margin: 0 -6px;
}

.ButtonPadding {
  margin-right: 10px;
  margin-left: 10px;
}

