.PlayerInfo {
  width: 100%;
  height: 100%;
  display: flex;
}
.PlayerTable {
  margin: 10px;
}
.Graph {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.GraphButtons {
  flex: 0 1 auto;
  align-self: flex-end;
  margin-right: 40px;
}
.GraphContainer {
  flex: 1 1 auto;
  margin: 5px;
  width: 100%;
  height: 100%;
}
