.TileInfo {
  display: flex;
  flex-flow: rows;
  justify-content: center;
}

.Panel {
  width: 200px;
  border: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 5px;
  padding: 15px;
  height: 250px;
  margin: 5px 35px;
  box-shadow: 2px 2px 5px grey;
  position: relative;
}

.Title {
  font-weight: bold;
  font-size: 16px;
  padding: 3px;
  margin: 0 10px 5px 10px;
  border-bottom: 3px solid gray;
}

.innerTable td {
  valign: top;
}

.outerTable {
  margin: 10px 15px;
}

.outerTable td:first-child {
  font-weight: 600;
  text-align: right;
  vertical-align: top;
}

.outerTable td:nth-child(2) {
  text-align: left;
  padding-left: 15px;
}

div.Panel span.glyphicon {
  font-size: 10px;
  width: 4px;
  left: -3px;
  height: 12px;
}

div.Panel div.badge {
  border-radius: 15px;
  padding: 2px 2px;
  position: absolute !important;
  right: 7px;
  top: 7px;
}
